<!DOCTYPE html>
<!--suppress ALL-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>follower</title>
</head>
<body>
<h1>谁关注了我</h1>
<div id="followerList">
    <table>
        <thead>
        <tr>
            <th>用户名</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="follow: ${follows}">
            <td><a th:text="${follow.user.name}" th:href="@{'/userinfo?uid=' + ${follow.uid}}"></a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>