<!DOCTYPE html>
<!--suppress ALL-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子列表</title>
</head>
<body>
<div id="user-panel">
    <h2>Hi, <a th:href="@{'/userinfo?uid=' + ${user.id}}" th:text="${user.name}"></a> </h2>
    <h2><a th:href="@{'/followList'}">我关注了谁</a> </h2>
    <h2><a href="/followerList">谁关注了我</a> </h2>
</div>
<div id="postList">
    <table>
        <thead>
            <tr>
                <th>发帖者</th>
                <th>帖子</th>
                <th>发帖时间</th>
                <th>更新时间</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post: ${posts}">
                <td><a th:text="${post.user.name}" th:href="@{'/userinfo?uid=' + ${post.user.id}}"></a> </td>
                <td th:text="${post.content}"></td>
                <td th:text="${post.create_date}"></td>
                <td th:text="${post.update_date}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <form action="/addPost" method="post">
        <textarea id="content" name="content"></textarea>
        <button type="submit">发帖</button>
    </form>
</div>
</body>
</html>