<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" media="all" href="../static/css/my.css" th:href="@{/static/css/my.css}"/>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div>
<form method="post" action="/user/register">
    <label for="name">用户名</label>
    <br>
    <input id="name" name="name" type="text">
    <br>
    <label for="password">密码</label>
    <br>
    <input id="password" name="password" type="password">
    <br>
    <button type="submit">注册</button>
</form>
<p th:if="${error}">
    <span th:text="${error}"></span>
</p>
</div>
</body>
</html>